.cartTemplate form {
    width: 80%;
    height: 100%;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    
  }
  .cartTemplate {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    background-color: #fff;   
    flex-direction: column;
}
.cartTemplate h2 {
    color: #000000
}