.cartDisplay h2 { 
    color: #000000;
 }
.cartDisplay form {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.cartDisplay button {
    padding: 10px 20px;
    background-color: #523178; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    width: 100%;
}
.cartDisplay h1 {
    text-align: center;
    color: #000000;

}
.cartDisplay form {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.cartDisplay button {
    padding: 10px 20px;
    background-color: #523178; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    width: 100%;
}