.ind {
    max-width: none;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    background-color: #fff;    
}

.ind img { 
    display: block;
    margin: 0 auto 20px auto; 
    width: 250px; 
    height: auto; 
  }

  .ind form {
    width: 80%;
    height: 100%;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    
  }

.ind h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
    color: #111;
    line-height: 1.25;
}

.ind h1, h2, h3, h4, h5 {
    text-align: center;
}

.ind h6 {
    color: #616161
}

.ind h1 { font-size: 2.2rem; margin-bottom: 1rem; }
.ind h2 { font-size: 1.8rem; margin-bottom: 0.9rem; }
.ind h3 { font-size: 1.5rem; margin-bottom: 0.8rem; }
.ind h4 { font-size: 1.25rem; margin-bottom: 0.7rem; }
.ind h5 { font-size: 1.1rem; margin-bottom: 0.6rem; }
.ind h6 { font-size: 1rem; margin-bottom: 0.5rem; color: #444; }

.ind button {
    padding: 10px 20px;
    background-color: #523178; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    width: 100px;
    text-align: center;
    display: block;
    margin: 20px auto 0 auto;
}