body {
    max-width: none;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.ind form {
    width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
    color: #111;
    line-height: 1.25;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

h6 {
    color: #616161
}

h1 { font-size: 2.2rem; margin-bottom: 1rem; }
h2 { font-size: 1.8rem; margin-bottom: 0.9rem; }
h3 { font-size: 1.5rem; margin-bottom: 0.8rem; }
h4 { font-size: 1.25rem; margin-bottom: 0.7rem; }
h5 { font-size: 1.1rem; margin-bottom: 0.6rem; }
h6 { font-size: 1rem; margin-bottom: 0.5rem; color: #444; }