/* container */
.navbar {
    position: fixed;    
    display: flex;
    width: 100%;
    max-width: none;
    background-color: #ffffff;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 1;                
    justify-content: center;
}

.navbar-left .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #fff;
}
.navbar-left .logo img {
    height: 48px;           
    display: block;         
}

.navbar-center .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
.navbar-center .nav-links img{
    height: 24px;           
    display: block;         
}


.navbar-right .signout-button {
    margin-left: 1rem;
    background: #523178;
    color: #fff;
    border: none;
    padding: 0.5rem 0.9rem;
    border-radius: 6px;
    cursor: pointer;
}

.nav-links a {
    color: #2478B0;
}