
.display {
  width: 90%;
  height: auto;
  margin: 110px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: visible;
  align-items: center;
}

.display img { 
  display: block;
  margin-top: 20px;
  width: 250px; 
  height: auto; 
}

.course-card {
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;    
}

.display h1 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: left;
}


.display h2 {
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  color: #2478B0;;
}

.display p {
  margin: 2px 0;
  color: #444;
  font-size: 0.8rem;
}

.display h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
}

.card-left {
  width: 40%;
}

.card-right {
  display: flex; 
  width: 60%;
}

.card-column {
  width: 25%;
  text-align: center;
  margin-left: 20px;
}

