.split {
  display: flex;
  flex-direction: row;
  margin: 100px auto;

}

.display {
  gap :10px;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  
  justify-content: space-between;
}


.courses {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
}


.courses img { 
  display: block;
  margin-top: 20px;
  width: 250px; 
  height: auto; 
}

.course-card {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;    
}

.courses h1 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: left;
}


.courses h2 {
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  color: #2478B0;;
}

.courses p {
  margin: 2px 0;
  color: #444;
  font-size: 0.8rem;
}

.courses h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  color: #1a1a1a;
}

.card-left {
  width: 40%;
}

.card-right {
  display: flex; 
  width: 60%;
}

.card-column {
  width: 25%;
  text-align: center;
  margin-left: 20px;
}
.card-right button {
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  width: 100px;
  text-align: center;
}

.filter-button-container {
  width: 45%;
  height: auto;
  margin-top: 110px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  
}

.filter-button-container button {
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.course-left {
  width: 60%;
}

.course-right {
  width: 40%;
  height: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  margin-right: 110px;

}