
.display {
  width: 80%;
  padding: 5px;
  height: auto;
  margin: 110px auto;
  display: flex;
  flex-direction: row;
  overflow: visible;
  align-items: center;
  background-color: #ffffff;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
}

.course-page-split {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;           /* space between left and right */
  width: 100%;
}

/* Left and right take up half each (ish) */
.course-left {
  width: 50%;
}

.course-right {
  position: fixed;
  width: 50%;
}

/* Optional: make content not stretch too wide */
.course-left .ind,
.course-right {
  max-width: 800px;
}

.display img { 
  display: block;
  margin-top: 20px;
  width: 250px; 
  height: auto; 
}

.course-card {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;    
}

.display h1 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: left;
}


.display h2 {
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  color: #2478B0;;
}

.display p {
  margin: 2px 0;
  color: #444;
  font-size: 0.8rem;
}

.display h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  color: #1a1a1a;
}

.card-left {
  width: 40%;
}

.card-right {
  display: flex; 
  width: 60%;
}

.card-column {
  width: 25%;
  text-align: center;
  margin-left: 20px;
}
.card-right button {
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  width: 200px;
  text-align: center;
  display: block;
  margin: 0px auto 0 auto;
  float: right;
}