.filter-page {
    max-width: 800px;
    width: 90%;
    background: #fafafa;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    color: black;
    padding: 30px;
    margin: 120px auto 40px;
}

.filter-page .button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filter-page button {
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.filter-page .button-right {
  display: flex;
  gap: 10px;
}

.filter-page .clear-button {
  padding: 10px 20px;
  background-color: #fff; 
  color: #523178;
  border: #523178 1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.filter-page .clear-button:hover {
  background-color: #523178; 
  color: #fff;
}

.filter-page button:hover {
  background-color: #3d2460; 
}

