.filter-page {
    width: 600px;
    background: #fafafa;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    padding: 15px;
}

.button-container {
  margin-top: auto;           /* push to bottom */
  display: flex;
  justify-content: flex-end;  /* right align */
  gap: 12px;                  /* space between buttons */
}


.filter-page button {
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.filter-page button:hover {
  background-color: #3d2460; 
}