.test h2 { 
    color: #000000;
 }
.test form {
    width: 12%;
    height: 100%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
