.AddCoursePage-wrapper .split {
  display: flex;
  width: 80%;
  position: relative;
  margin-top: 0px;
  
}

.AddCoursePage-wrapper .add-course-header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1a1a1a;
  text-align: left;
  margin-left: 100px;
  margin-top: 120px;
}

.add-courses {
  position: relative;
  top: 90px;
  left: 100px
}

.AddCoursePage-wrapper .display {
  display: flex;
  flex-direction: column;
  flex: 1;     
  z-index: 1;
}

.AddCoursePage-wrapper .add-courses {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.AddCoursePage-wrapper .add-courses .course-card {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;    
}

.AddCoursePage-wrapper .add-courses h1 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: left;
}


.AddCoursePage-wrapper .add-courses h2 {
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  color: #2478B0;;
}

.AddCoursePage-wrapper .add-courses p {
  margin: 2px 0;
  font-size: 0.8rem;
  color: black;
}

.AddCoursePage-wrapper .add-courses h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  color: #1a1a1a;
}

.AddCoursePage-wrapper .card-left {
  width: 40%;
}

.AddCoursePage-wrapper .card-right {
  display: flex; 
  width: 60%;
}

.AddCoursePage-wrapper .card-column {
  width: 25%;
  text-align: center;
  margin-left: 20px;
}
.AddCoursePage-wrapper .card-right button {
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  width: 100px;
  text-align: center;
}

.AddCoursePage-wrapper .filter-button-container {
  width: 90%;
  display: flex;
  gap: 20px;
  align-items: left;
}

.AddCoursePage-wrapper .filter-button-container button {
  width: 200px;
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.AddCoursePage-wrapper .filter-button-container .clear-filter-button {
  padding: 10px 20px;
  background-color: #fff; 
  color: #523178;
  border: #523178 1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.AddCoursePage-wrapper .filter-button-container .clear-filter-button:hover {
  background-color: #523178; 
  color: #fff;
}


.AddCoursePage-wrapper .course-right {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  align-self: flex-start;
  right: 20px;
  top : 100px;
}

.AddCoursePage-wrapper .add-courses .course-card button {
  width: 100px;
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  margin-right: 5px;
}

.AddCoursePage-wrapper .display button:hover {
  background-color: #3d2460; 
}


