
.cartDisplay {
  height: auto;
  width: 50%;      
  margin: -10px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: visible;
  align-items: center;
}


.cartDisplay h1 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: left;
}


.cartDisplay h2 {
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

.cartDisplay p {
  margin: 2px 0;
  color: #444;
  font-size: 0.9rem;
}


.cartDisplay button {
  width: 80px;
  height: 40px;
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  margin-left: -5px;
  margin-top: 20px;
}

.cartDisplay button:hover {
  background-color: #3d2460; 
}
