.CourseInformationPage-wrapper {
  position: relative;
  width: 100%;
  overflow: clip; /* Prevents invisible overflows from blocking clicks */
}

.CourseInformationPage-wrapper .split {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 100px auto 0;
  gap: 40px;
}

.CourseInformationPage-wrapper .display {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  align-items: center;
}

.CourseInformationPage-wrapper .courses {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  max-width: none; /* allow full stretch */
  margin: 0;
  
}

.CourseInformationPage-wrapper .courses .course-card {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;    
}

.courses h1 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: left;
}


.courses h2 {
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  color: #2478B0;;
}

.courses p {
  margin: 2px 0;
  color: #444;
  font-size: 0.8rem;
}

.courses h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  color: #1a1a1a;
}

.CourseInformationPage-wrapper .card-left {
  width: 40%;
}

.CourseInformationPage-wrapper .card-right {
  display: flex; 
  width: 60%;
}

.CourseInformationPage-wrapper .card-column {
  width: 25%;
  text-align: center;
  margin-left: 20px;
}
.CourseInformationPage-wrapper .card-right button {
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  width: 100px;
  text-align: center;
}

.CourseInformationPage-wrapper .filter-button-container {
  width: 90%;
  display: flex;
  gap: 20px;
  align-items: left;
  margin-bottom: 20px;
}

 .CourseInformationPage-wrapper .filter-button-container button {
  width: 200px;
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

 .CourseInformationPage-wrapper .filter-button-container .clear-filter-button {
  padding: 10px 20px;
  background-color: #fff; 
  color: #523178;
  border: #523178 1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

 .CourseInformationPage-wrapper .filter-button-container .clear-filter-button:hover {
  background-color: #523178; 
  color: #fff;
}


.CourseInformationPage-wrapper .course-right {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

 .CourseInformationPage-wrapper .courses .course-card button {
  width: 100px;
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  margin-right: 5px;
  
}

 .CourseInformationPage-wrapper .display button:hover {
  background-color: #3d2460; 
}

 .popup-overlay {
  position: fixed;
  top: 100px;
  right: 20px;
  padding: 0px 18px;
  background: #3d2460;
  color: white;
  border-radius: 6px;
  font-size: 1rem;
  opacity: 0;
  animation: fadeInOut 2s ease forwards;
  z-index: 9999;
}



@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  15% { opacity: 1; transform: translateY(0); }
  85% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
