.create-course {
    position:relative;
    top: 80px;
}
.create-course h1 {
    color: black;
}
.create-course form {
    width: 100%;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
  }
.create-course label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
    text-align: left;
    gap: 20px;
}
.create-course input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
    background-color: #fff;
    color: #000000;
    width: 80%;
  }
.row {
    flex-direction: row;
    display: flex;
    gap: 20px;
}
.department, .professor, .course-code, .block {
    width: 20vw;
    display: flex;
    gap: 5px;
    height: 50%;
}
.attributes {
    width: 40vw;
    gap: 5px;
    height: 50%;
}
