.financial-balance-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 100px;
    background-color: #ffffff;
}

.financial-balance-wrapper .balance {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ecf0f1;
    border: 1px solid #ddd;
    width: 100%;
}

.financial-balance-wrapper .financial-information {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    
}

.financial-balance-wrapper .financial-information .title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.financial-balance-wrapper .financial-information .title-header-left {
    display: flex;
    width: 50%;
}

.financial-balance-wrapper .financial-information .title-header-right {
    display: flex;
    width: 50%;
    gap: 10px;
}

.financial-balance-wrapper .financial-information .title-header-right p{
    color: #000000;
    margin-bottom: auto;
    font-size: xx-large;
}

.financial-balance-wrapper .financial-information .details-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.financial-balance-wrapper .financial-information .details-header-bottom {
    display: flex;
    justify-content: space-between;
    
}

/* Select dropdowns */
.financial-balance-wrapper .financial-information select {
  width: 300px;
  height: 50%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #523178;
  font-size: 16px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-top: auto;
}

