.financial-balance-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 100px;
    background-color: #ffffff;
}

.financial-balance-wrapper .balance {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ecf0f1;
    border: 1px solid #ddd;
    width: 100%;
}

.financial-balance-wrapper .financial-information {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    
}

.financial-balance-wrapper .financial-information .details-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.financial-balance-wrapper .financial-information .details-header-bottom {
    display: flex;
    justify-content: space-between;
    
}

.financial-balance-wrapper .down-arrow {
    width: 10px;
    height: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    background: transparent;
    background-image: url('../assets/down-arrow.png');
    background-size: cover;     /* or contain */
    background-position: center;
    background-repeat: no-repeat;
    border: none;    
}