.ind {
    width: 100%;
    margin-top: 100px;
    background-color: #fff;
}

.course-page-split {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;           /* space between left and right */
  width: 100%;
}

/* Left and right take up half each (ish) */
.course-left,
.course-right {
  flex: 1;
}

.ind img { 
    display: block;
    margin: 0 auto 20px auto; 
    width: 250px; 
    height: auto; 
  }

.ind form {
    width: 80%;
    height: 100%;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
  }
.ind .course-info {
    box-sizing: border-box;
    padding: 0 2rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.ind .course-info-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 10px;
}


.ind .course-info-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.ind .course-info-right .seats {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    text-align: right;
    margin-right: 10px;
}


.ind .instructor-label {
    box-sizing: border-box;
    padding: 0 2rem;
    width: 13%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.ind .button-container {
    float: right;
    float: bottom;
}

.ind .back-button {
    padding: 10px 20px;
    background-color: #523178; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    width: 100px;
    text-align: center;
    margin: 10px;
    float: right;
}
.ind h2, .ind p {
    color: #000000;
}