.registered-courses-wrapper .display {
  width: 100%;
  height: auto;
  margin: 110px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: visible;
  align-items: center;
  background-color: #fff;
}


.registered-courses-wrapper .courses {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: visible;
  align-items: center;
  background-color: #fff;
}

.registered-courses-wrapper .courses img { 
  display: block;
  margin-top: 20px;
  width: 250px; 
  height: auto; 
}

.registered-courses-wrapper .course-card {
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;    
}

.registered-courses-wrapper .courses h1 {
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #444;
  text-align: left;
}


.registered-courses-wrapper .courses h2 {
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  color: #2478B0;;
}


.registered-courses-wrapper .courses p {
  margin: 2px 0;
  color: #444;
  font-size: 0.8rem;
}

.registered-courses-wrapper .courses h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  color: #1a1a1a;
}

.registered-courses-wrapper .card-left {
  width: 40%;
}

.registered-courses-wrapper .card-right {
  display: flex; 
  width: 60%;
}

.registered-courses-wrapper .card-column {
  width: 25%;
  text-align: center;
  margin-left: 20px;
}

.registered-courses-wrapper .card-column button {
  width: 100px;
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  margin-right: 5px;
}
