
.signin {
  max-width: none;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
}

.signin img { 
  display: block;
  margin: 0 auto 20px auto; 
  width: 250px; 
  height: auto; 
}

.signin form {
  width: 250px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.signin label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
  text-align: left;
}


.signin input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
  background-color: #fff;
  color: #000000
}

.signin input:focus {
  border-color: #3399ff; 
}

.button-container {
  text-align: center;
}

.signin button {
  padding: 10px 20px;
  background-color: #523178; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.signin button:hover {
  background-color: #3d2460; 
}

.error p{
  color: red;
  font-size: 1rem;
  margin-top: 30px;
  text-align: center;
  background-color: #ffe6e6;
  padding: 10px;
}

.confirm p{
  color: green;
  font-size: 1rem;
  margin-top: 30px;
  text-align: center;
  background-color: #dffce1;
  padding: 10px;
}

.signin h2 {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #444;
  text-align: center;
}


html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

