.transcript {
  max-width: 1100px;   
  margin: 110px auto 50px auto;    
  padding: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.transcript-header {
  text-align: center;
}

.transcript h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.transcript h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}  

.ut-right {
    text-align: right;
}