
.ut-term {
  margin: 40px 0;
}

.ut-term-title {
  margin: 0;
}

.ut-term h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.ut-term-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 10px 15px;
}

.ut-term-header p {
  margin: 0;
  font-size: 0.8rem; 
  font-weight: 800;
  color: #555555;
}


.ut-term-stats {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}
.ut-term-stats p {
  flex: 1; 
  margin: 0;
  padding: 0 5px;
  text-align: left;
  font-size: 14px;
}

.ut-course {
  display: flex;
  align-items: center; 
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}

.ut-course p {
  margin: 0;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.col-title {
  flex: 2.8; 
  white-space: normal;
}

.col-program {
  flex: 3; 
  white-space: normal;
}

.col-mid {
  flex: 1.2; 
  white-space: normal;
}

.col {
  flex: 1;
}